{:status 200,
 :data
 ({:o_code "A",
   :coef 0.9259436219077685,
   :mgp_weight 1.0,
   :outcome "A",
   :param 999999.0,
   :mn_weight 11.0,
   :id 1.0,
   :market "Norm.Dist_300",
   :mn_code "NORM_300",
   :m_code "MATCH_NORM.DIST_300",
   :mgp_code "DISTRIBUTION"}
  {:o_code "B",
   :coef 150.0,
   :mgp_weight 1.0,
   :outcome "B",
   :param 999999.0,
   :mn_weight 11.0,
   :id 2.0,
   :market "Norm.Dist_300",
   :mn_code "NORM_300",
   :m_code "MATCH_NORM.DIST_300",
   :mgp_code "DISTRIBUTION"}
  {:o_code "A",
   :coef 1.2569792480495925,
   :mgp_weight 1.0,
   :outcome "A",
   :param 999999.0,
   :mn_weight 21.0,
   :id 3.0,
   :market "Norm.Dist_80",
   :mn_code "NORM_80",
   :m_code "PART1_NORM.DIST_80",
   :mgp_code "DISTRIBUTION"}
  {:o_code "B",
   :coef 3.5156562291956805,
   :mgp_weight 1.0,
   :outcome "B",
   :param 999999.0,
   :mn_weight 21.0,
   :id 4.0,
   :market "Norm.Dist_80",
   :mn_code "NORM_80",
   :m_code "PART1_NORM.DIST_80",
   :mgp_code "DISTRIBUTION"}
  {:o_code "A",
   :coef 0.9259259259259269,
   :mgp_weight 1.0,
   :outcome "A",
   :param 999999.0,
   :mn_weight 31.0,
   :id 5.0,
   :market "Poisson_80",
   :mn_code "POISSON_80",
   :m_code "PART2_POISSON_80",
   :mgp_code "DISTRIBUTION"}
  {:o_code "B",
   :coef 150.0,
   :mgp_weight 1.0,
   :outcome "B",
   :param 999999.0,
   :mn_weight 31.0,
   :id 6.0,
   :market "Poisson_80",
   :mn_code "POISSON_80",
   :m_code "PART2_POISSON_80",
   :mgp_code "DISTRIBUTION"}
  {:o_code "A",
   :coef 0.9259259259259339,
   :mgp_weight 1.0,
   :outcome "A",
   :param 999999.0,
   :mn_weight 41.0,
   :id 7.0,
   :market "Poisson_300",
   :mn_code "POISSON_300",
   :m_code "PART3_POISSON_300",
   :mgp_code "DISTRIBUTION"}
  {:o_code "B",
   :coef 150.0,
   :mgp_weight 1.0,
   :outcome "B",
   :param 999999.0,
   :mn_weight 41.0,
   :id 8.0,
   :market "Poisson_300",
   :mn_code "POISSON_300",
   :m_code "PART3_POISSON_300",
   :mgp_code "DISTRIBUTION"}
  {:o_code "A",
   :coef 1.4467592592592593,
   :mgp_weight 100.0,
   :outcome "A",
   :param 50.0,
   :mn_weight 12.0,
   :id 9.0,
   :market "ВПР Norm.Dist_81",
   :mn_code "VPR_NORM_150",
   :m_code "MATCH_VPR_NORM.DIST_300",
   :mgp_code "OTHER"}
  {:o_code "B",
   :coef 2.572016460905349,
   :mgp_weight 100.0,
   :outcome "B",
   :param 50.0,
   :mn_weight 12.0,
   :id 10.0,
   :market "ВПР Norm.Dist_81",
   :mn_code "VPR_NORM_150",
   :m_code "MATCH_VPR_NORM.DIST_300",
   :mgp_code "OTHER"}
  {:o_code "A",
   :coef 1.2683916793505834,
   :mgp_weight 100.0,
   :outcome "A",
   :param 50.0,
   :mn_weight 13.0,
   :id 11.0,
   :market "ВПР Poisson_81",
   :mn_code "VPR_POISSON_81",
   :m_code "MATCH_VPR_POISSON_81",
   :mgp_code "OTHER"}
  {:o_code "B",
   :coef 3.4293552812071324,
   :mgp_weight 100.0,
   :outcome "B",
   :param 50.0,
   :mn_weight 13.0,
   :id 12.0,
   :market "ВПР Poisson_81",
   :mn_code "VPR_POISSON_81",
   :m_code "MATCH_VPR_POISSON_81",
   :mgp_code "OTHER"}
  {:o_code "A",
   :coef 1.3888888888888788,
   :mgp_weight 100.0,
   :outcome "A",
   :param 999999.0,
   :mn_weight 14.0,
   :id 13.0,
   :market "Match Probability",
   :mn_code "PROB",
   :m_code "MATCH_PROB",
   :mgp_code "OTHER"}
  {:o_code "B",
   :coef 2.777777777777817,
   :mgp_weight 100.0,
   :outcome "B",
   :param 999999.0,
   :mn_weight 14.0,
   :id 14.0,
   :market "Match Probability",
   :mn_code "PROB",
   :m_code "MATCH_PROB",
   :mgp_code "OTHER"}
  {:o_code "OVER",
   :coef 3.0369200002774592,
   :mgp_weight 2.0,
   :outcome "Over",
   :param 208.5,
   :mn_weight 15.0,
   :id 15.0,
   :market "Match Total",
   :mn_code "TOTAL",
   :m_code "MATCH_TOTAL",
   :mgp_code "SIMPLE OPERATION"}
  {:o_code "UNDER",
   :coef 1.3320563034188828,
   :mgp_weight 2.0,
   :outcome "Under",
   :param 208.5,
   :mn_weight 15.0,
   :id 16.0,
   :market "Match Total",
   :mn_code "TOTAL",
   :m_code "MATCH_TOTAL",
   :mgp_code "SIMPLE OPERATION"}
  {:o_code "OVER",
   :coef 1.889017399417632,
   :mgp_weight 2.0,
   :outcome "Over",
   :param 88.5,
   :mn_weight 15.0,
   :id 17.0,
   :market "Match Total",
   :mn_code "TOTAL",
   :m_code "MATCH_TOTAL",
   :mgp_code "SIMPLE OPERATION"}
  {:o_code "UNDER",
   :coef 1.816120516885687,
   :mgp_weight 2.0,
   :outcome "Under",
   :param 88.5,
   :mn_weight 15.0,
   :id 18.0,
   :market "Match Total",
   :mn_code "TOTAL",
   :m_code "MATCH_TOTAL",
   :mgp_code "SIMPLE OPERATION"}
  {:o_code "OVER",
   :coef 1.932746209988429,
   :mgp_weight 2.0,
   :outcome "Over",
   :param 89.5,
   :mn_weight 15.0,
   :id 19.0,
   :market "Match Total",
   :mn_code "TOTAL",
   :m_code "MATCH_TOTAL",
   :mgp_code "SIMPLE OPERATION"}
  {:o_code "UNDER",
   :coef 1.7774570619916745,
   :mgp_weight 2.0,
   :outcome "Under",
   :param 89.5,
   :mn_weight 15.0,
   :id 20.0,
   :market "Match Total",
   :mn_code "TOTAL",
   :m_code "MATCH_TOTAL",
   :mgp_code "SIMPLE OPERATION"})}
